nav {
  background: var(--electric-violet);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin-right: 10px;
  text-decoration: none;
  color: var(--white);
}

nav a:hover {
  color: var(--yellow);
}