@use "../../../styles";
nav {
  background: var(--electric-violet);
  padding: 10px 20px;
  border-bottom: 1px solid #e7e7e7;

    display: flex;
    justify-content: center;
    align-items: center;
}


a {
  margin-right: 10px;
  text-decoration: none;
  color: #FFF;
}

nav a:hover {
  color: #e9c93c;
}